
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column !important;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

.bg-white {
  background: white;
}

.shadow-sm {
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05) !important;
}

.rounded {
  border-radius: 0.475rem !important;
}

.p-10 {
  padding: 2.5rem !important;
}

.mb-10 {
  margin-bottom: 2.5rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.no-resize {
  resize: none;

}

.y-resize {
  resize: vertical;
}

.x-resize {
  resize: horizontal;

}

.text-center {
  text-align: center !important;
}

.wd-500 {
  width: 500px;
}

.min-h-80{
  min-height:80px
}

.max-h-200 {
  max-height:250px;
}
