
$white: #ffffff !default;
$black: #000000 !default;

$gray-100: #eef1f5 !default;
$gray-300: #E4E6EF !default;
$gray-900: #181c32 !default;
$primary: #3699FF !default;

$card-header-py: 0.5rem !default;
$card-py: 2rem !default;
$card-px: 2.25rem !default;
$card-header-height: 70px !default;